<ion-header [translucent]="true" primary>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" padding class="background" > 
  <ion-header translucent>
   
    <ion-toolbar >
      <ion-segment value="all">
        <ion-segment-button value="all">
          <ion-label>Regular Customer</ion-label>
        </ion-segment-button>
        <ion-segment-button value="favorites">
          <ion-label>Event Organiser</ion-label>
        </ion-segment-button>
      </ion-segment>
      <ion-card>
        <ion-card-header>

          <ion-row>
           <ion-col size="10">
              <ion-card-title>
                <ion-icon name="call" color="primary"></ion-icon>
                Samrat
                
              </ion-card-title>
            </ion-col>
           <ion-col
           >
              <ion-icon name="add-circle" color="primary" style="zoom:2.0;"></ion-icon>
        </ion-col>
          </ion-row>
       
        </ion-card-header>
        <ion-card-content>
<!--  -->

<tr>
  <td>
    Sold: 0
    19Ltr
  </td>
  <td>
    Empty: 0
    19Ltr
  </td>
  <td>
    Balance: 12
    19Ltr  
  </td>
  <td>
    Pend Pay.
    1000/-
  </td>
</tr>
     
<!--  -->
</ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>

         
          <ion-row>
            <ion-col size="10">
               <ion-card-title>
                 <ion-icon name="call" color="primary"></ion-icon>
               Vaibhav
                 
               </ion-card-title>
             </ion-col>
            <ion-col
            >
               <ion-icon name="add-circle" color="primary" style="zoom:2.0;"></ion-icon>
         </ion-col>
           </ion-row>
       
        </ion-card-header>
        <ion-card-content>
<!--  -->

<tr>
  <td>
    Sold: 0
    19Ltr
  </td>
  <td>
    Empty: 0
    19Ltr
  </td>
  <td>
    Balance: 12
    19Ltr  
  </td>
  <td>
    Pend Pay.
    1000/-
  </td>
</tr>
     
<!--  -->
</ion-card-content>
      </ion-card>
    </ion-toolbar>
  </ion-header>
  
  <div style="position: absolute; bottom: 10px; left:20px; right:10px; width: 89%">
    <div style="text-align: center">
      <ion-card color="dark" >

     <ion-grid >
  <ion-row >
    <ion-col>
      <div>
      <h6 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        Daily Total
      </h6>
      </div>
    </ion-col>
    <div class="vl"></div>
    <ion-col>
      <div>
      <h6  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        Sold<br> 20
      </h6> 
      </div>
    </ion-col>
    <div class="vl"></div>
    <ion-col>
      <div>
<h6  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
  
  Empty <br> 2
</h6>

</div>
    </ion-col>
    <div class="vl"></div>

    <ion-col>
      <div>
        <h6  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
          Balance 18

        </h6>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
      </ion-card>
      <!-- <ion-button expand="block">Pair <ion-icon slot="end" name="bluetooth"></ion-icon></ion-button> -->
    </div>
</div>
</ion-content>
  