<ion-header [translucent]="true" primary>
  <ion-toolbar color="primary" class="background">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-row>
      <ion-col class="col-9">
        <div class="ion-text mt-3"><h5>Feedback</h5></div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" padding class="background">
  <div class="row">
    <div class="col">
      <ion-item class="text-center">
        <ion-label position="fixed">Select Service Engg</ion-label>
        <ion-select interface="popover" placeholder="Select Engg"> </ion-select>
      </ion-item>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ion-item class="text-center">
        <ion-label position="fixed">Rating</ion-label>
        <ion-select interface="popover" placeholder="Select Technician Time">
        </ion-select>
      </ion-item>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ion-item class="text-center">
        <ion-label position="fixed">Feedback</ion-label>
      </ion-item>
      <ion-item>
        <ion-textarea placeholder="Enter feedback here..."></ion-textarea>
      </ion-item>
    </div>
  </div>
  <ion-row>
    <ion-col>
      <div class="ion-text-center">
        <ion-button size="default" color="primary"> Submit</ion-button>
        <ion-button size="default" color="danger" class="ion-margin-horizontal"
          >Cancel</ion-button
        >
      </div>
    </ion-col>
  </ion-row>
</ion-content>
