<ion-header [translucent]="true" primary>
  <ion-toolbar color="primary">
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-row>
      <ion-col *ngIf="!showSearchbar">
        <div class="ion-text mt-3"><h5>Service History</h5></div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" padding class="background">
  <table class="table">
    <thead class="thead-light">
      <tr class="text-center">
        <th>Date</th>
        <th>Service Done</th>
        <th>Service Engg Name</th>
      </tr>
    </thead>
    <tbody class="tb table">
      <tr
        class="text-center"
        style="border-bottom: 1px solid rgb(221, 221, 221)"
      >
        <td style="font-weight: normal !important">11-12-2021</td>
        <td style="font-weight: normal !important">
          1. Boiler Clean <br />
          2. Filter replace <br />
          3. Engine clean
        </td>
        <td style="font-weight: normal !important">Samrat Waman</td>
      </tr>

      <tr class="text-center">
        <td style="font-weight: normal !important">11-12-2021</td>
        <td style="font-weight: normal !important">
          1. Boiler Clean <br />
          2. Filter replace <br />
          3. Engine clean
        </td>
        <td style="font-weight: normal !important">Samrat Waman</td>
      </tr>
    </tbody>
  </table>
</ion-content>
