<ion-header [translucent]="true" primary>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-row>
      <ion-col>
        <div class="ion-text mt-3"><h5>Service History</h5></div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" padding class="background">
  <table class="table">
    <thead class="thead-light">
      <tr class="text-center">
        <th>Date</th>
        <th>Service Done</th>
        <th>Service Engg Name</th>
      </tr>
    </thead>
    <tbody class="tb table">
      <tr
        *ngFor="let item of serviceHistory"
        class="text-center"
        style="border-bottom: 1px solid rgb(221, 221, 221)"
      >
        <td style="font-weight: normal !important">
          {{ item.created_at | date: 'dd/MM/yyyy' }}
        </td>
        <td style="font-weight: normal !important">
          {{ item.material_issued }}
        </td>
        <td style="font-weight: normal !important">{{ item.engineerName }}</td>
      </tr>
    </tbody>
  </table>
</ion-content>
