<div
	style="
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	"
>
	<ion-card class="hydrated ion-padding-horizontal md">
		<ion-grid>
			<ion-row>
				<ion-col>
					<div class="ion-text-center">
						<h3><b> Order Detail </b></h3>
					</div>
				</ion-col>
			</ion-row>
			<div class="border-top"></div>
			<ion-item>
				<ion-label position="fixed">Product</ion-label>
				<ion-text>{{ productName }}</ion-text>
			</ion-item>

			<ion-item>
				<ion-label position="fixed">Name</ion-label>
				<ion-text>{{ customerName }}</ion-text>
			</ion-item>

			<ion-item>
				<ion-label position="fixed">Contact</ion-label>
				<ion-text>{{ phone }}</ion-text>
			</ion-item>

			<ion-item>
				<ion-label position="fixed">Date</ion-label>
				<ion-text>{{ date | date: "dd/MM/yyyy" }}</ion-text>
			</ion-item>

			<ion-item>
				<ion-label position="fixed">Jar Qty</ion-label>
				<ion-text>{{ jarQuantity }}</ion-text>
			</ion-item>

			<ion-item>
				<ion-label position="fixed">Order Total</ion-label>
				<ion-text>{{ orderTotal }} ₹</ion-text>
			</ion-item>

			<ion-row>
				<ion-col>
					<div class="ion-text-center">
						<ion-button
							size="default"
							color="success"
							(click)="onClickOfSubmit()"
						>
							Ok</ion-button
						>
						<ion-button
							size="default"
							color="danger"
							class="ion-margin-horizontal"
							(click)="onClickOfCancel()"
							>Cancel
						</ion-button>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card>
</div>
