<ion-header [translucent]="true" primary>
	<ion-toolbar color="primary">
		<ion-buttons *ngIf="!showSearchbar" slot="start">
			<ion-menu-button color="light"></ion-menu-button>
		</ion-buttons>
		<ion-row>
			<ion-col *ngIf="!showSearchbar" class="col-9">
				<div class="ion-text mt-3"><h5>Dispensers</h5></div>
			</ion-col>
			<ion-col>
				<div class="ion-text-end mt-1">
					<ion-searchbar
						*ngIf="showSearchbar"
						showCancelButton="always"
						[(ngModel)]="searchedText"
						(ionChange)="onChangeOfSearch()"
						(ionCancel)="showSearchbar = false"
						placeholder="Search"
					></ion-searchbar>
					<ion-buttons slot="end">
						<ion-button *ngIf="!showSearchbar" (click)="showSearchbar = true">
							<ion-icon slot="icon-only" name="search"></ion-icon>
						</ion-button>
					</ion-buttons>
				</div>
			</ion-col>
		</ion-row>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen="true" padding class="background">
	<ion-header translucent>
		<ion-toolbar>
			<div *ngFor="let item of dispencers">
				<ion-card *ngIf="item.dispensers > 0">
					<ion-card-header>
						<ion-row>
							<ion-col class="col-9" style="width: 60px">
								<ion-text color="dark" style="width: 60px">
									<b> {{ item.name | titlecase }} </b><br />
									<b>
										{{ item.dispensers }}
									</b>
								</ion-text>
							</ion-col>
							<ion-col>
								<div class="ion-text-end">
									<ion-icon
										(click)="onClickOfEdit(item.user_id)"
										class="mr-1"
										name="create-outline"
										color="primary"
										style="zoom: 1.7"
									></ion-icon>

									<ion-icon
										(click)="deleteDispencer(item.user_id)"
										name="trash-outline"
										color="danger"
										style="zoom: 1.7"
									></ion-icon>
								</div>
							</ion-col>
						</ion-row>

						<ion-row> </ion-row>
					</ion-card-header>
				</ion-card>
			</div>
		</ion-toolbar>
	</ion-header>
</ion-content>
