<ion-content padding>
	<div
		style="
			height: 100%;
			color: white;
			display: flex;
			align-items: center;
			justify-content: center;
		"
		class="imag"
	>
		<ion-text align="center">
			<h1
				style="
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
				"
			>
				<ion-avatar style="height: 110px; width: 110px">
					<img src="../../../assets/images/logo.jpg" />
				</ion-avatar>
			</h1>
			<h1>WaterKard</h1>
			<h1>
				<ion-card
					class="hydrated ion-padding md"
					(click)="onClickOfVendorLogin()"
				>
					Vendor Login
				</ion-card>
			</h1>

			<h1>
				<ion-card
					class="hydrated ion-padding md"
					(click)="onClickOfDriverLogin()"
				>
					Driver Login
				</ion-card>
			</h1>

			<h1>
				<ion-card class="hydrated ion-padding md" (click)="onClickOfRegister()">
					Create Account
				</ion-card>
			</h1>
			<p>To learn more about WaterKard call +918888888888</p>
		</ion-text>

		<!-- <ion-card>
Vendor Login
</ion-card>
<ion-card>
Driver Login
</ion-card>

<ion-card>
  Create Account
</ion-card> -->
	</div>
</ion-content>
